.DS_Store
Thumbs.db
.ipynb_checkpoints/
.venv/
__pycache__/
*.py[cod]
logs.log

# PyCaret / training artifacts
catboost_info/
lightning_logs/
Platforms and tools/PyCaret/my_pycaret_*.pkl


# =========================================================================
# Course Student Homework Setup
# =========================================================================
# Ignore the student homework folder and everything inside it
my_hw/
